<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PomoToDo</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/timerstyle.css">

    <script src="/javascript/todo.js"></script>
    <script src="/javascript/timer.js"></script>
</head>

<body>

  <div class="header">
    <h1>PomoToDo - Productivity Web App </h1>
    <p> Instructions: Write a new task into the text field  </p>
    <p> Click 'Pomo' to add a timer to that task and click 'Add' to create </p>
    <p> Once your list is populated, click 'Start' to begin the timer</p>
  </div>

  <section class="container">
    <div class="left" id="timer">
      <article>
           <div class="timerTabs">
              <button class="tabLinks" onClick="switchTimer(event, 'Pomo')">Pomodoro</button>
              <button class="tabLinks" onClick="switchTimer(event, 'sBreak')">Short Break</button>
              <button class="tabLinks" onClick="switchTimer(event, 'lBreak')">Long Break</button>
           </div>

           <div id="Pomo" class="tabContent">
              <h1 id ="hour">10</h1>
              <h1 id="mins">20</h1>
              <h1 id="secs">30</h1>
           </div>

           <div id="sBreak" class="tabContent">
              <h1 id ="hour">5</h1>
              <h1 id="mins">20</h1>
              <h1 id="secs">30</h1>
           </div>

           <div id="lBreak" class="tabContent">
              <h1 id ="hour">15</h1>
              <h1 id="mins">20</h1>
              <h1 id="secs">30</h1>
           </div>
      </article>
    </div>

    <div class="right" id="todo">
      <article>

        <h1>Todo list</h1>
        <ol id="list"></ol>
        <input type="text" id="newTask"  placeholder="Add a new task"/>
        <span onclick="addTaskButtonClicked()" class="button" id="newTaskButton">Add</span>
        <span onclick="addPomoButtonClicked()" class="button" id="newPomoButton">Pomo</span>
      </article>
    </div>
  </section>

</body>
</html>
