@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');


.tabContent {
   display: none;
}

.tabLinks {
   color: white;
   background: #516269;
   font-size: 16px;
   padding: 10px;
   border: none;
   margin: 5px;
   font-family: 'Titillium Web', sans-serif;
}

.tabLinks:hover {
   background-color:#5ed7bf;
 }


.active {
   background: #4ee3c2;
}


#startButton {
   color: white;
   background:#5bc25d;
   font-size: 16px;
   padding: 10px;
   font-family: 'Titillium Web', sans-serif;
   border: none;
}

.startBtn:hover {
   background:#ff5757;
}


#stopButton {
   display: none;
   color: white;
   background:#ff5757;
   font-family: 'Titillium Web', sans-serif;
   border: none;

}

#PomoCount {
  font-size: 10.50rem;
  margin: 0px;
  padding: 0px;
}
